---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import Hero from '../../components/common/Hero.astro';
import QuizSelection from '../../components/quizzes/QuizSelection.svelte';
import homeJson from '../../data/home.json';
import Seo from '../../components/seo/Seo.astro';

const heroText = homeJson.quizzes.heroText;
const search = Astro.url.searchParams.get("search") || "";
const page = parseInt(Astro.url.searchParams.get("page") || "1");
const exclude = Astro.url.searchParams.get("exclude") || "";

export const prerender = false;
---
<Seo {heroText} pageName={"Quizzes"} path="quizzes"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="QUIZZES" text={heroText} site="quizzes"/>
    <QuizSelection client:load {search} {page} {exclude}/>
    <Footer site="quizzes"/>
  </div>
</Layout>
