---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import quizzesData from '../../data/quizzes/quizzes.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import { capitalise } from '../../utils/string';
import MediumCard from '../../components/common/MediumCard.astro';
import { SEO } from 'astro-seo';
import seoImg from '/src/img/heroes/QUIZZES.jpg';

const heroText = homeJson.quizzes.heroText;
---
<SEO
  title={`Quizzes | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/quizzes`}
  openGraph={{
    basic: {
      title: `Quizzes | Izz Hafeez`,
      type: "website",
      image: seoImg.src,
      url: `https://izzhafeez.com/quizzes`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `Quizzes | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="QUIZZES" text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(quizzesData).map(([key, value]) => <MediumCard href={`/quizzes/${key}`} title={capitalise(key) + ' Quizzes'} heroText={value.heroText} site="quizzes" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>
