---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import quizzesData from '../../data/quizzes/quizzes.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import { capitalise } from '../../utils/string';
import MediumCard from '../../components/common/MediumCard.astro';
import { AstroSeo } from "@astrolib/seo";
import quizzes from '/src/img/heroes/QUIZZES.jpg';

const heroText = homeJson.quizzes.heroText;
---
<AstroSeo
  title={"Quizzes | Izz Hafeez"}
  description={heroText}
  canonical={`https://izzhafeez.com/quizzes`}
  openGraph={{
    title: "Quizzes | Izz Hafeez",
    description: heroText,
    url: `https://izzhafeez.com/quizzes`,
    type: "website",
    images: [
      {
        url: quizzes.src,
        width: 800,
        height: 600,
        alt: "Quizzes | Izz Hafeez"
      }
    ]
  }}
  twitter={{

  }}
/>
<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="QUIZZES" text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(quizzesData).map(([key, value]) => <MediumCard href={`/quizzes/${key}`} title={capitalise(key) + ' Quizzes'} heroText={value.heroText} site="quizzes" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>
