---
import Seo from "../../../components/seo/Seo.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import PageFind from "../../../components/common/PageFind.astro";
import JumbleQuiz from "../../../components/quizzes/jumble/JumbleQuiz.svelte";
import mrtData from "../../../data/quizzes/map/mrt.json";

export const getStaticPaths = (() => {
    const normaliseString = (name: string) => name.replace(/[\(\[].*?[\)\]]/g, '').trim().toUpperCase();
    return [
        {
            params: {
                quiz: 'mrt'
            },
            props: {
                title: 'MRT Stations of Singapore',
                instructions: 'A certain number of MRT stations have their letters jumbled and mixed up. This excludes LRTs and future planned MRTs. Can you unscramble them? Green letters mean accepted, yellow means unused, and red means overused.',
                data: Object.keys(mrtData).filter(name => /EW|CG|CE|CC|NS|NE|DT|TE/.test(name)).map(normaliseString)
            }
        },
        {
            params: {
                quiz: 'mrt-hard'
            },
            props: {
                title: 'MRT Stations of Singapore (Hard)',
                instructions: 'A certain number of MRT stations have their letters jumbled and mixed up. This includes LRTs and future planned MRTs. Can you unscramble them? Green letters mean accepted, yellow means unused, and red means overused.',
                data: Object.keys(mrtData).map(normaliseString)
            }
        },
    ]
});

const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/quizzes/jumble/${Astro.params.quiz}.jpg`]().then(img => img.default);
---

<Seo heroText={Astro.props.instructions} {seoImg} pageName={`${Astro.props.title} (Connect Quiz)`} path={`quizzes/connect/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName={`${Astro.props.title} (Connect Quiz)`} heroText={Astro.props.instructions}/>
    <JumbleQuiz client:load names={Astro.props.data} title={Astro.props.title} instructions={Astro.props.instructions}/>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
    <script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </div>
</Layout>