---
import CompareQuiz from "../../../components/quizzes/compare/CompareQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import PageFind from "../../../components/common/PageFind.astro";
import seoImg from '/src/img/heroes/COMPARE.jpg';
import countriesData from "../../../data/games/city-hedger/countries.json";
import citiesData from "../../../data/quizzes/compare/cities.json";
import countryCodesData from "../../../data/games/city-hedger/country-codes.json";
import { decks, getDataAsDict } from "../../games/common/decks";

export function getStaticPaths() {
  return [
    ...decks.map(deck => ({
      params: {
        quiz: deck.params.deck
      },
      props: {
        data: getDataAsDict(deck.params.deck),
        title: deck.props.title,
      }
    })),
    ...Object.entries(countriesData).map(([countryCode, countryData]) => {
      const countryName = (countryCodesData as {[code: string]: string})[countryCode];
      return [
        {
          params: {
            quiz: `${countryCode}-city`
          },
          props: {
            data: (citiesData as {[name: string]: any})[countryCode],
            title: `${countryName}`,
          }
        },
      ]
    }).flat()
  ];
}

export const prerender = true;
const { data, title } = Astro.props;
const instructions = `Which one is higher? Pick a field below and test your knowledge!`;
---
<Seo heroText={instructions} {seoImg} pageName={`${title} (Compare Quiz)`} path={`quizzes/compare/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <div class="fixed z-50 w-screen">
      <NavBar/>
      <PageFind pageName={`${title} (Compare Quiz)`} heroText={instructions}/>
    </div>
    <CompareQuiz client:load data={data} title={title} instructions={instructions} key={Astro.params.quiz}/>
  </div>
</Layout>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>