---
import compareData from "../../../data/quizzes/compare.json";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from '/src/img/heroes/COMPARE.jpg';

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const quizzes = Object.entries(compareData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/compare/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/compare/${key}.jpg`,
    tags: value.tags || []
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = quizzesData.compare.heroText;
const title = quizzesData.compare.title;
---
<Seo {heroText} {seoImg} pageName={"Compare Quizzes"} path={`quizzes/compare`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto flex flex-wrap gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.map(quiz => <a href={quiz.href} class="p-4 rounded-md bg-white dark:bg-gray-700 border-2 border-gray-500/20 hover:border-ns-500">{quiz.title}</a>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>