---
import compareData from "../../../data/quizzes/compare.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import { AstroSeo } from "@astrolib/seo";

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number
}}

const quizzes = Object.entries(compareData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/compare/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/compare/${key}.jpg`
  }
}).sort((a,b) => -a.rank + b.rank);
---
<AstroSeo
  title={"Compare Quizzes | Izz Hafeez"}
  description="Which one of the two has the greater value? Test your comparison skills with these quizzes."
  canonical={`https://izzhafeez.com/quizzes/compare`}
  openGraph={{
    title: "Compare Quizzes | Izz Hafeez",
    description: "Which one of the two has the greater value? Test your comparison skills with these quizzes.",
    url: `https://izzhafeez.com/quizzes/compare`,
    type: "website",
    images: [
      {
        url: `/img/heroes/COMPARE QUIZZES.jpg`,
        width: 800,
        height: 600,
        alt: "Compare Quizzes | Izz Hafeez"
      }
    ]
  }}
/>
<Layout>
  <div slot="main">
    <NavBar/>
    <Hero label="COMPARE QUIZZES" text="Which one of the two has the greater value? Test your comparison skills with these quizzes." site="quizzes"/>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.map(quiz => <MediumCard href={quiz.href} title={quiz.title} site="quizzes" heroText={quiz.instructions} key={quiz.key} imgPath={quiz.imgPath} isEager={true}/>)}
    </section>
    <Footer color="ns" isEager={true}/>
  </div>
</Layout>