---
import type { GetStaticPaths } from "astro";
import wasteData from "../../../data/quizzes/selection/waste.json";
import chengyuData from "../../../data/quizzes/selection/chengyu.json";
import selectionData from "../../../data/quizzes/selection.json";
import SelectionQuiz from "../../../components/quizzes/selection/SelectionQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";

export const getStaticPaths = (() => {
  return [
    {
      params: {
        quiz: "chengyu"
      },
      props: {
        title: "Chengyu Challenge",
        data: chengyuData,
        instructions: selectionData.chengyu.instructions,
        oneChoice: true,
        passingScore: 1
      }
    },
    { 
      params: {
        quiz: "waste" 
      },
      props: {
        title: "What a Waste!",
        data: wasteData,
        instructions: selectionData.waste.instructions,
        passingScore: 0.75
      }
    }
  ];
}) satisfies GetStaticPaths;
export const prerender = true;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/quizzes/selection/${Astro.params.quiz}.jpg`]().then(img => img.default);
---
<Seo heroText={Astro.props.instructions} {seoImg} pageName={Astro.props.title} path={`quizzes/selection/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <h1 class="hidden" data-pagefind-weight="10.0" data-pagefind-meta="title">{Astro.props.title} (Selection Quiz)</h1>
    <SelectionQuiz client:load title={Astro.props.title} data={Astro.props.data} instructions={Astro.props.instructions} key={Astro.params.quiz} oneChoice={Astro.props.oneChoice || false} passingScore={Astro.props.passingScore}/>
  </div>
</Layout> 
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>