---
import type { GetStaticPaths } from "astro";
import wasteData from "../../../data/quizzes/selection/waste.json";
import selectionData from "../../../data/quizzes/selection.json"
import SelectionQuiz from "../../../components/quizzes/selection/SelectionQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import { AstroSeo } from "@astrolib/seo";

export const getStaticPaths = (() => {
  return [
    { 
      params: {
        quiz: "waste" 
      },
      props: {
        title: "What a Waste!",
        data: wasteData,
        instructions: selectionData.waste.instructions
      }
    }
  ];
}) satisfies GetStaticPaths;
export const prerender = true
---
<AstroSeo
  title={Astro.props.title + " | Izz Hafeez"}
  description={Astro.props.instructions}
  canonical={`https://izzhafeez.com/quizzes/selection/${Astro.params.quiz}`}
  openGraph={{
    title: Astro.props.title + " | Izz Hafeez",
    description: Astro.props.instructions,
    url: `https://izzhafeez.com/quizzes/selection/${Astro.params.quiz}`,
    type: "website",
    images: [
      {
        url: `/src/img/quizzes/selection/${Astro.params.quiz}.jpg`,
        width: 800,
        height: 600,
        alt: Astro.props.title + " | Izz Hafeez"
      }
    ]
  }}
/>
<Layout>
  <div slot="main">
    <NavBar/>
    <SelectionQuiz client:load title={Astro.props.title} data={Astro.props.data} instructions={Astro.props.instructions} key={Astro.params.quiz}/>
  </div>
</Layout> 
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@4/minimal.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>