---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import gqmasterData from '../../data/gqmaster/gqmaster.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import { capitalise } from '../../utils/string';
import MediumCard from '../../components/common/MediumCard.astro';

const heroText = homeJson.gqmaster.heroText;
---
<Layout>
  <div slot="main" class="">
    <NavBar/>
    <Hero label="GQMASTER" text={heroText} site="gqmaster"/>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(gqmasterData).map(([key, value]) => <MediumCard href={`/gqmaster/${key}`} title={capitalise(key)} heroText={value.heroText} site="gqmaster" imgPath={`/img/heroes/${value.title.toUpperCase()}.jpg`}/>)}
    </section>
    <Footer color="ns"/>
  </div>
</Layout>
