---
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import MediumCard from "../../../components/common/MediumCard.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from '/src/img/heroes/COMPARE.jpg';
import { decks } from "../../games/common/decks";

const quizzes = [
  ...decks.map(deck => ({
    key: deck.params.deck,
    href: `/quizzes/compare/${deck.params.deck}`,
    title: deck.props.title,
    instructions: deck.props.instructions.replace("Fight using", "Compare"),
    imgPath: `/img/games/stat-attack/${deck.params.deck}.jpg`,
    rank: 0
  })),
];

const heroText = quizzesData["compare"].heroText;
const title = quizzesData["compare"].title;
---
<Seo {heroText} {seoImg} pageName={"Compare Quizzes"} path={`quizzes/compare`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.sort((a,b) => a.title.localeCompare(b.title)).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={[]}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>