---
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import MediumCard from "../../../components/common/MediumCard.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from '/src/img/heroes/RANK.jpg';
import { decks } from "../../games/common/decks";
import mapData from "../../../data/quizzes/map.json";

const quizzes = [
  ...decks.map(deck => ({
    key: deck.params.deck,
    href: `/quizzes/rank/${deck.params.deck}`,
    title: deck.props.title,
    instructions: deck.props.instructions.replace("Fight using", "Compare"),
    imgPath: `/img/games/stat-attack/${deck.params.deck}.jpg`,
    rank: 0
  })),
  ...Object.entries(mapData).map(([k, v]) => ({
    key: k,
    href: `/quizzes/rank/${k}`,
    title: v.title,
    instructions: `Compare the Latitude and Longitude of ${v.title}`,
    imgPath: `/img/quizzes/map/${k}.jpg`,
  }))
].filter((deck) => !["/img/games/stat-attack/cities.jpg", "/img/games/stat-attack/schools.jpg", "/img/games/stat-attack/bus-stops.jpg", "/img/quizzes/map/mrt.jpg", "/img/quizzes/map/malls.jpg"].includes(deck.imgPath));

const heroText = quizzesData["rank"].heroText;
const title = quizzesData["rank"].title;
---
<Seo {heroText} pageName={"Rank Master"} path={`quizzes/rank`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.sort((a,b) => a.title.localeCompare(b.title)).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={[]}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>