---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import gamesData from '../../data/games/games.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import { capitalise } from '../../utils/string';
import MediumCard from '../../components/common/MediumCard.astro';
import Seo from '../../components/seo/Seo.astro';
import seoImg from '/src/img/heroes/GAMES.jpg';

const heroText = homeJson.games.heroText;
---

<Seo {heroText} pageName={"Games"} path="games"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="GAMES" text={heroText} site="games"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(gamesData).map(([key, value]) => <MediumCard href={`/games/${key}`} title={capitalise(key)} heroText={value.heroText} site="games" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer site="games"/>
  </div>
</Layout>
