---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import gamesData from '../../data/games/games.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import { capitalise } from '../../utils/string';
import MediumCard from '../../components/common/MediumCard.astro';
import { SEO } from 'astro-seo';
import seoImg from '/src/img/heroes/GAMES.jpg';

const heroText = homeJson.games.heroText;
---

<SEO
  title={`Games | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/games`}
  openGraph={{
    basic: {
      title: `Games | Izz Hafeez`,
      type: "website",
      image: seoImg.src,
      url: `https://izzhafeez.com/games`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `Games | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="GAMES" text={heroText} site="games"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(gamesData).map(([key, value]) => <MediumCard href={`/games/${key}`} title={capitalise(key)} heroText={value.heroText} site="games" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer site="games"/>
  </div>
</Layout>
