---
import Layout from "../../layouts/Layout.astro";
import Item from "../../items/item";
import { allItems } from "../../items/getItems";
import ItemPreviews from "../../components/ItemPreviews";

export const getStaticPaths = () => allItems.map(item => ({
  params: {
    category: item.category
  },
  props: {
    category: item.category
  }
}));

export const prerender = true;
const { category } = Astro.params;
const itemsDict: {[key: string]: Item[]} = {};
for (const item of allItems) {
  if (item.category !== category) continue;
  const type = item.type;
  if (!itemsDict[type]) itemsDict[type] = [];
  itemsDict[type].push(item);
}
const imgPath = `/img/types/${category}.svg`;
---

<Layout>
  <div slot="main">
    <img class={`mx-auto size-[15rem] bg-white rounded-full border-[5px] my-4 p-4 border-${Astro.params.category}-500 dark:border-${Astro.params.category}-300`} src={imgPath}/>
    {Object.entries(itemsDict).map(([k, v]) => <ItemPreviews items={v} size={v[0].getSize()} category={category} toLimit={true}/>)}
  </div>
</Layout>