---
import CompareQuiz from "../../../../components/quizzes/compare/CompareQuiz.svelte";
import Layout from "../../../../layouts/Layout.astro";
import NavBar from "../../../../components/common/NavBar.astro";
import Seo from "../../../../components/seo/Seo.astro";
import PageFind from "../../../../components/common/PageFind.astro";
import seoImg from '/src/img/heroes/COMPARE.jpg';
import { decks, getDataAsDict } from "../../../games/common/decks";

export function getStaticPaths() {
  return [
    ...decks.map(deck => ({
      params: {
        quiz: deck.params.deck
      },
      props: {
        data: getDataAsDict(deck.params.deck),
        title: deck.props.title,
      }
    })),
  ];
}

export const prerender = true;
const { data, title } = Astro.props;
const instructions = `Ever played Higher or Lower? Here is my version of it! Pick a field, which will be the basis of comparison, and difficulty, where lower difficulties will have frequent repeats. You will be shown two options, and you have to guess which one is higher or lower. The game will continue until you get one wrong. Good luck!`;
---
<Seo heroText={instructions} {seoImg} pageName={`${title} (Compare Quiz)`} path={`quizzes/compare/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName={`${title} (Compare Quiz)`} heroText={instructions}/>
    <CompareQuiz client:load data={data} title={title} instructions={instructions} key={Astro.params.quiz}/>
  </div>
</Layout>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>