---
import NavBar from "../../../../components/common/NavBar.astro";
import StatAttack from "../../../../components/games/stat-attack/StatAttack";
import Layout from "../../../../layouts/Layout.astro";
import mallsData from "../../../../data/games/stat-attack/malls.json";
import citiesData from "../../../../data/games/stat-attack/cities.json";
import mrtData from "../../../../data/games/stat-attack/mrt.json";
import countriesData from "../../../../data/games/stat-attack/countries.json";
import { SEO } from 'astro-seo';
import gamesData from "../../../../data/games/games.json";

export const prerender = false;
const deckData = {
  malls: {
    title: "Malls of Singapore",
    data: mallsData
  },
  cities: {
    title: "Cities of the World",
    data: citiesData
  },
  mrt: {
    title: "MRT Stations of Singapore",
    data: mrtData
  },
  countries: {
    title: "Countries of the World",
    data: countriesData
  }
}

const { id } = Astro.params;
const splitPath = Astro.url.pathname.split("/");
const deckName: string = splitPath[splitPath.length - 2];

let deck;
switch (deckName) {
  case "malls":
    deck = deckData.malls;
    break;
  case "cities":
    deck = deckData.cities;
    break;
  case "mrt":
    deck = deckData.mrt;
    break;
  case "countries":
    deck = deckData.countries;
    break;
  default:
    deck = deckData.malls;
}

const heroText = gamesData["stat-attack"].heroText;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/games/stat-attack/${deckName}.jpg`]().then(img => img.default.src);
---

<SEO
  title={`${deck.title} | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/games/stat-attack/${deckName}/${id}`}
  openGraph={{
    basic: {
      title: `${deck.title} | Izz Hafeez`,
      type: "website",
      image: seoImg,
      url: `https://izzhafeez.com/games/stat-attack/${deckName}/${id}`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg,
      },
      { name: "twitter:title", content: `${deckName} | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main">
    <NavBar/>
    <StatAttack client:only="react" id={id} deck={deck} deckName={deckName}/>
  </div>
</Layout>