---
import type { GetStaticPaths } from 'astro';
import Layout from '../../../../layouts/Layout.astro';
import NavBar from '../../../../components/common/NavBar.astro';
import statAttackData from '../../../../data/games/stat-attack/stat-attack.json';
import StatAttackRoomCreate from '../../../../components/games/stat-attack/StatAttackRoomCreate';
import { SEO } from 'astro-seo';
import gamesData from '../../../../data/games/games.json';

export const getStaticPaths = (() => {  
  return [
    {
      params: {
        deck: "malls",
      },
      props: {
        title: statAttackData.malls.title,
        instructions: statAttackData.malls.instructions
      }
    },
    {
      params: {
        deck: "cities"
      },
      props: {
        title: statAttackData.cities.title,
        instructions: statAttackData.cities.instructions
      }
    },
    {
      params: {
        deck: "mrt"
      },
      props: {
        title: statAttackData.mrt.title,
        instructions: statAttackData.mrt.instructions
      }
    },
    {
      params: {
        deck: "countries"
      },
      props: {
        title: statAttackData.countries.title,
        instructions: statAttackData.countries.instructions
      }
    },
    {
      params: {
        deck: "universities"
      },
      props: {
        title: statAttackData.universities.title,
        instructions: statAttackData.universities.instructions
      }
    },
    {
      params: {
        deck: "songs"
      },
      props: {
        title: statAttackData.songs.title,
        instructions: statAttackData.songs.instructions
      }
    },
    {
      params: {
        deck: "anime"
      },
      props: {
        title: statAttackData.anime.title,
        instructions: statAttackData.anime.instructions
      }
    },
    {
      params: {
        deck: "songs-youtube" // https://www.kaggle.com/datasets/salvatorerastelli/spotify-and-youtube
      },
      props: {
        title: statAttackData["songs-youtube"].title,
        instructions: statAttackData["songs-youtube"].instructions
      }
    },
    {
      params: {
        deck: "pokemon"
      },
      props: {
        title: statAttackData.pokemon.title, // https://www.kaggle.com/datasets/onurgitmez/pokemon-stats-gen-1-9
        instructions: statAttackData.pokemon.instructions
      }
    }
  ];
}) satisfies GetStaticPaths;

const { deck } = Astro.params;
const { instructions, title } = Astro.props;
const heroText = gamesData["stat-attack"].heroText;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/games/stat-attack/${deck}.jpg`]().then(img => img.default.src);
---

<SEO
  title={`${title} | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/games/stat-attack/${deck}`}
  openGraph={{
    basic: {
      title: `${title} | Izz Hafeez`,
      type: "website",
      image: seoImg,
      url: `https://izzhafeez.com/games/stat-attack/${deck}`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg,
      },
      { name: "twitter:title", content: `${deck} | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <StatAttackRoomCreate client:only="react" title={title} instructions={instructions}/>
  </div>
</Layout>