---
import mapData from "../../../data/quizzes/map.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import { SEO } from 'astro-seo';
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from "/src/img/heroes/MAP.jpg";

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const quizzes = Object.entries(mapData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/map/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/map/${key}.jpg`,
    tags: value.tags || []
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = quizzesData.map.heroText;
const title = quizzesData.map.title;
---
<SEO
  title={`${title} | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/quizzes/map`}
  openGraph={{
    basic: {
      title: `${title} | Izz Hafeez`,
      type: "website",
      image: seoImg.src,
      url: `https://izzhafeez.com/quizzes/map`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `${title} | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.slice(0,12).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={quiz.tags}/>)}
      {quizzes.slice(12).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        tags={quiz.tags}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>