---
import mapData from "../../../data/quizzes/map.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number
}}

const quizzes = Object.entries(mapData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/map/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quiz/map/${key}.jpg`
  }
}).sort((a,b) => -a.rank + b.rank);
---

<Layout>
  <div slot="main">
    <NavBar/>
    <Hero label="MAP QUIZZES" text="Here are my map quizzes, powered by OpenLayers. As you answer, the marker will disappear. Use regex to select the locations you want to include in the quiz." site="quizzes"/>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.map(quiz => <MediumCard href={quiz.href} title={quiz.title} site="quizzes" heroText={quiz.instructions} key={quiz.key} imgPath={quiz.imgPath}/>)}
    </section>
    <Footer color="ns"/>
  </div>
</Layout>