---
import mapData from "../../../data/quizzes/map.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import { AstroSeo } from "@astrolib/seo";
import quizzesData from "../../../data/quizzes/quizzes.json";
import mapImg from "/src/img/heroes/MAP.jpg";

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const quizzes = Object.entries(mapData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/map/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/map/${key}.jpg`,
    tags: value.tags || []
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = quizzesData.map.heroText;
---
<AstroSeo
  title={"Map Quizzes | Izz Hafeez"}
  description={heroText}
  canonical={`https://izzhafeez.com/quizzes/map`}
  openGraph={{
    title: "Map Quizzes | Izz Hafeez",
    description: heroText,
    url: `https://izzhafeez.com/quizzes/map`,
    type: "website",
    images: [
      {
        url: mapImg.src,
        width: 800,
        height: 600,
        alt: "Map Quizzes | Izz Hafeez"
      }
    ]
  }}
/>
<Layout>
  <div slot="main">
    <NavBar/>
    <Hero label="MAP QUIZZES" text={heroText} site="quizzes"/>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.slice(0,12).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={quiz.tags}/>)}
      {quizzes.slice(12).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        tags={quiz.tags}/>)}
    </section>
    <Footer color="ns"/>
  </div>
</Layout>