---
import NavBar from "../../../../components/common/NavBar.astro";
import BlurryBattle from "../../../../components/games/blurry-battle/BlurryBattle.tsx";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import gamesData from "../../../../data/games/games.json";
import mrtData from "../../../../data/games/blurry-battle/mrt.json";
import mallsData from "../../../../data/games/blurry-battle/malls.json";
import londonData from "../../../../data/games/blurry-battle/london-underground.json";
import busData from "../../../../data/games/blurry-battle/bus-stops.json";
import tokyoMetroData from "../../../../data/games/blurry-battle/tokyo-metro.json";
import chengyuData from "../../../../data/games/blurry-battle/chengyu.json";
import countriesData from "../../../../data/games/blurry-battle/countries.json";
import schoolsData from "../../../../data/games/blurry-battle/schools.json";
import subzonesData from "../../../../data/games/blurry-battle/subzones.json";
import nusModsData from "../../../../data/games/blurry-battle/nus-mods.json";
import citiesData from "../../../../data/games/blurry-battle/cities.json";
import pokemonData from "../../../../data/games/blurry-battle/pokemon.json";
import fastFoodData from "../../../../data/games/blurry-battle/fast-food.json";
import chineseVocabData from "../../../../data/games/blurry-battle/chinese-vocab.json";
import csModsData from "../../../../data/games/blurry-battle/cs-mods.json";
import elementsData from "../../../../data/games/blurry-battle/elements.json";
import programmingLanguagesData from "../../../../data/games/blurry-battle/programming-languages.json";
import randomQuotesData from "../../../../data/games/blurry-battle/random-quotes.json";
import kabupatenData from "../../../../data/games/blurry-battle/kabupaten.json";
import roadsData from "../../../../data/games/blurry-battle/roads.json";
import japanesePrefecturesData from "../../../../data/games/blurry-battle/japanese-prefectures.json";
import seoImg from '/src/img/heroes/BLURRY-BATTLE.jpg';

export const prerender = false;
const { id } = Astro.params;
const splitPath = Astro.url.pathname.split("/");
const deckName: string = splitPath[splitPath.length - 2];

let deck;
switch (deckName) {
  case "mrt":
    deck = {
      title: "MRT Stations",
      data: mrtData
    };
    break;
  case "malls": 
    deck = {
      title: "Malls of Singapore",
      data: mallsData
    }
    break;
  case "london-underground":
    deck = {
      title: "London Underground Stations",
      data: londonData
    }
    break;
  case "bus-stops":
    deck = {
      title: "Bus Stops of Singapore",
      data: busData
    }
    break;
  case "tokyo-metro":
    deck = {
      title: "Tokyo Metro Stations",
      data: tokyoMetroData
    }
    break;
  case "chengyu":
    deck = {
      title: "Chinese Chengyu",
      data: chengyuData
    }
    break;
  case "countries":
    deck = {
      title: "Countries of the World",
      data: countriesData
    }
    break;
  case "schools":
    deck = {
      title: "Schools of Singapore",
      data: schoolsData
    }
    break;
  case "subzones":
    deck = {
      title: "Subzones of Singapore",
      data: subzonesData
    }
    break;
  case "nus-mods":
    deck = {
      title: "NUS Modules",
      data: nusModsData
    }
    break;
  case "cities":
    deck = {
      title: "Cities of the World",
      data: citiesData
    }
    break;
  case "pokemon":
    deck = {
      title: "Pokemon",
      data: pokemonData
    }
    break;
  case "fast-food":
    deck = {
      title: "Fast Food Items",
      data: fastFoodData
    }
    break;
  case "chinese-vocab":
    deck = {
      title: "Chinese Vocabulary",
      data: chineseVocabData
    }
    break;
  case "cs-mods":
    deck = {
      title: "CS Modules",
      data: csModsData
    }
    break;
  case "elements":
    deck = {
      title: "Elements",
      data: elementsData
    }
    break;
  case "programming-languages":
    deck = {
      title: "Programming Languages",
      data: programmingLanguagesData
    }
    break;
  case "uncle-roger-quotes":
    deck = {
      title: "Uncle Roger Quotes",
      data: randomQuotesData
    }
    break;
  case "kabupaten":
    deck = {
      title: "Kabupaten of Indonesia",
      data: kabupatenData
    }
    break;
  case "roads":
    deck = {
      title: 'Roads of Singapore',
      data: roadsData
    }
    break;
  case "japanese-prefectures":
    deck = {
      title: 'Japanese Prefectures',
      data: japanesePrefecturesData
    }
  default:
    deck = {
      title: '',
      data: []
    };
}

const heroText = gamesData["blurry-battle"].heroText;
---

<Seo {heroText} pageName={deck.title} path={`games/blurry-battle/${deckName}/${id}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <BlurryBattle client:only="react" id={id || ""} deck={deck} deckName={deckName}/>
  </div>
</Layout>