---
import MediumCard from "../../components/common/MediumCard.astro";

const { items, site } = Astro.props;
const PER_PAGE = 100;
---

<section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
	{items.slice(0*PER_PAGE, 1*PER_PAGE).map((item: any) => <MediumCard
		href={item.href}
		title={item.title}
		site={site}
		heroText={item.instructions}
		key={item.key}
		imgPath={item.imgPath}
		isEager={true}
		tags={item.tags}/>)}
</section>
