---
import type { GetStaticPaths } from "astro";
import ConnectQuiz from "../../../../components/quizzes/connect/ConnectQuiz.svelte";
import Layout from "../../../../layouts/Layout.astro";
import NavBar from "../../../../components/common/NavBar.astro";
import chengyuData from "../../../../data/quizzes/connect/chengyu.json";
import balkanData from "../../../../data/quizzes/connect/balkan.json";
import seaData from "../../../../data/quizzes/connect/south-east-asia.json";
import centralAsianData from "../../../../data/quizzes/connect/central-asia.json";
import southAmericanData from "../../../../data/quizzes/connect/south-america.json";
import middleEastData from "../../../../data/quizzes/connect/middle-east.json";
import centralAmericaData from "../../../../data/quizzes/connect/central-america.json";
import germanicData from "../../../../data/quizzes/connect/germanic.json";
import sovietUnionData from "../../../../data/quizzes/connect/soviet-union.json";
import westAfricanData from "../../../../data/quizzes/connect/west-africa.json";
import romanceEuropeData from "../../../../data/quizzes/connect/romance-europe.json";
import olympicData from "../../../../data/quizzes/connect/olympics.json";
import connectData from "../../../../data/quizzes/connect.json";
import Seo from "../../../../components/seo/Seo.astro";
import PageFind from "../../../../components/common/PageFind.astro";

export const getStaticPaths = (() => {
  return [
    { 
      params: {
        quiz: "chengyu" 
      },
      props: {
        title: "Chengyu Challenge",
        data: chengyuData,
        instructions: connectData.chengyu.instructions
      }
    },
    {
      params: {
        quiz: "balkan"
      },
      props: {
        title: "Balkan Cities",
        data: balkanData,
        instructions: connectData.balkan.instructions
      }
    },
    {
      params: {
        quiz: "south-east-asia"
      },
      props: {
        title: "South East Asian Cities",
        data: seaData,
        instructions: connectData["south-east-asia"].instructions
      }
    },
    {
      params: {
        quiz: "central-asia"
      },
      props: {
        title: "Central Asian Cities",
        data: centralAsianData,
        instructions: connectData["central-asia"].instructions
      }
    },
    {
      params: {
        quiz: "south-america"
      },
      props: {
        title: "South American Cities",
        data: southAmericanData,
        instructions: connectData["south-america"].instructions
      }
    },
    {
      params: {
        quiz: "germanic", 
      },
      props: {
        title: "Germanic Cities",
        data: germanicData,
        instructions: connectData.germanic.instructions
      }
    },
    {
      params: {
        quiz: "middle-east"
      },
      props: {
        title: "Middle Eastern Cities",
        data: middleEastData,
        instructions: connectData["middle-east"].instructions
      }
    },
    {
      params: {
        quiz: 'central-america'
      },
      props: {
        title: "Central American Cities",
        data: centralAmericaData,
        instructions: connectData["central-america"].instructions
      }
    },
    {
      params: {
        quiz: 'soviet-union'
      },
      props: {
        title: "Soviet Union Cities",
        data: sovietUnionData,
        instructions: connectData["soviet-union"].instructions
      }
    },
    {
      params: {
        quiz: 'west-africa'
      },
      props: {
        title: "West African Cities",
        data: westAfricanData,
        instructions: connectData["west-africa"].instructions
      }
    },
    {
      params: {
        quiz: 'romance-europe'
      },
      props: {
        title: "Romance Europe Cities",
        data: romanceEuropeData,
        instructions: connectData["romance-europe"].instructions
      }
    },
    {
      params: {
        quiz: 'olympics'
      },
      props: {
        title: "Olympic Athletes Sports",
        data: olympicData,
        instructions: connectData.olympics.instructions
      }
    }
  ];
}) satisfies GetStaticPaths;

const instructions = Astro.props.instructions + " Make your guess by selecting four items that you think are part of the same group. You have a limited number of tries. Good Luck!"
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/quizzes/connect/${Astro.params.quiz}.jpg`]().then(img => img.default);
---
<Seo heroText={Astro.props.instructions} pageName={`${Astro.props.title} (Connect Quiz)`} path={`quizzes/connect/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName={`${Astro.props.title} (Connect Quiz)`} heroText={Astro.props.instructions}/>
    <ConnectQuiz client:load title={Astro.props.title} data={Astro.props.data} instructions={instructions} key={Astro.params.quiz}/>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
    <script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </div>
</Layout>