---
import { Image } from "astro:assets";
import Tags from "../common/Tags.astro";
import type { ImageMetadata } from "astro";

const { course } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/portfolio/courses/*.jpg');
---
<a id={course.key} href={course.link} class="reveal load-hidden rounded-lg p-4 flex group gap-4 bg-gray-100/70 dark:bg-gray-700/70 border-[1px] border-gray-100/0 hover:border-ne-500 transition duration-500 cursor-pointer">
  <div class="py-1">
    <Image src={images[`/src${course.imgPath}`]()} alt={course.title} width="50" height="50" class="aspect-square object-contain bg-gray-100 rounded-lg"/>
  </div>
  <div class="py-2">
    <p class="group-hover:text-ne-500 group-hover:dark:text-ne-300 link-underline font-medium">{ course.title } 
      {course.grade && `(${course.grade})`}
    </p>
    <p class="text-gray-500 text-sm leading-tight">{ course.name }{ course.issuer }</p>
    {course.hasOwnProperty('related') && <Tags tags={course.related} site="portfolio"/>}
  </div>
</a>