---
import { Image } from "astro:assets";
import Tags from "../common/Tags.astro";

const { course, isEager } = Astro.props;
---
<div id={course.key} class="rounded-lg p-4 flex group hover:neon-ew gap-4">
  <div class="py-1">
    <Image src={course.imgPath} alt={course.title} width="50" height="50" class="aspect-square object-contain bg-white rounded-lg" loading={isEager ? 'eager' : 'lazy'}/>
  </div>
  <div class="py-2">
    <a transition:name={course.key} href={course.link} class="dark:text-white group-hover:text-ew-600 group-hover:dark:text-ew-300 link-underline font-medium">{ course.title } 
      {course.grade && `(${course.grade})`}
      <i class="fa-solid fa-arrow-up-right-from-square text-sm"></i>
    </a>
    <p class="text-gray-500 text-sm leading-tight">{ course.name }{ course.issuer }</p>
    <Tags tags={course.related} site="portfolio"/>
  </div>
</div>