---
import { Image } from "astro:assets";
import Related from "./Related.vue";

const { course } = Astro.props;
---
<div id={course.key} class="rounded-lg p-2 flex group hover:neon-ew">
  <div class="text-left py-2">
    <a href={course.link} class="dark:text-white group-hover:text-ew-600 group-hover:dark:text-ew-300 link-underline font-medium">{ course.title } 
      {course.grade && `(${course.grade})`}
      <i v-else class="fa-solid fa-arrow-up-right-from-square text-sm"></i>
    </a>
    <p class="text-gray-500 text-sm leading-tight" v-if="name">{ course.name }{ course.issuer }</p>
    <div class="flex flex-wrap gap-1 mt-1">{course.related?.map((r: string) => <Related text={r}/>)}</div>
  </div>
  <div class="ms-auto grid place-items-center my-auto">
    <Image src={course.imgPath} alt={course.title} width="50" height="50" class="aspect-square object-contain bg-white"/>
  </div>
</div>