---
import Tags from "../common/Tags.astro";

const { experience } = Astro.props;
---
<div id={experience.key} class="reveal group w-full hover:neon-ne p-4 rounded-lg">
  <h2 class="group-hover:text-ne-500 dark:group-hover:text-ne-300 font-medium ">{experience.title} · {experience.organisation}</h2>
  <div class="mb-2">
    <p class="text-gray-500 text-sm">{experience.duration}</p>
  </div>
  <p class="text-gray-500 text-sm my-2">{experience.overview}</p>
  <Tags tags={experience.related} site="portfolio"/>
</div>