---
import { Image } from "astro:assets";
import pdf from "/src/img/common/pdf.svg";
import youtube from "/src/img/common/youtube.svg";

const { music, isEager } = Astro.props;
---
<div id={music.key} class="reveal rounded-lg p-4 grid lg:flex gap-4 items-center group hover:neon-ne">
  <div>
    <h2 class="font-medium flex items-center gap-2  group-hover:text-ne-500 dark:group-hover:text-ne-300">{music.title} 
      <a href={`/music/${music.title}.pdf`}><Image alt="pdf" width="15" height="15" src={pdf} class="h-4 dark:invert hover:opacity-50" loading={isEager ? 'eager': 'lazy'}/></a> 
      {music.link && <a href={music.link}><Image alt="youtube" height="15" width="15" src={youtube} class="h-4 dark:invert hover:opacity-50" loading={isEager ? 'eager': 'lazy'}/></a>}
    </h2>
    <p class="text-gray-500 text-sm">{music.artist}</p>
  </div>
  <div class="lg:ms-auto">
    <audio controls>
      <source src={`/music/${music.title}.mp3`} type="audio/mpeg">
    </audio>
  </div>
</div>