---
const { music } = Astro.props;
---
<div id={music.key} class="rounded-lg p-4 flex items-center group hover:neon-ew">
  <div>
    <h2 class="font-medium flex items-center gap-2 dark:text-white group-hover:text-ew-500 dark:group-hover:text-ew-300">{music.title} 
      <a href={`/music/${music.title}.pdf`}><img src="/img/common/pdf.svg" class="h-4 dark:invert hover:opacity-50"/></a> 
      {music.link && <a href={music.link}><img src='/img/common/youtube.svg' class="h-4 dark:invert hover:opacity-50"/></a>}
    </h2>
    <p class="text-gray-500 text-sm">{music.artist}</p>
  </div>
  <div class="ms-auto">
    <audio controls>
      <source src={`/music/${music.title}.mp3`} type="audio/mpeg">
    </audio>
  </div>
</div>