---
import { Image } from 'astro:assets';
import Related from './Related.astro';
const { project } = Astro.props;
const imgPath = `/img/portfolio/projects/${project.imgPath}`;
---
<div id={project.key} class="group w-full hover:neon-ew p-4 rounded-lg flex gap-2">
  <div>
    <h2 transition:name={project.key} class="group-hover:text-ew-500 dark:group-hover:text-ew-300 font-medium dark:text-white flex items-center gap-2">  
      {project.title} 
      {project.link && <a href={project.link} class="underline text-black dark:text-white cursor-pointer"><img src='/img/common/link.svg' class="dark:invert hover:opacity-50 h-5"/></a>} 
      {project.repo && <a href={project.repo} class="underline text-black dark:text-white cursor-pointer"><img src='/img/logos/github.svg' class="dark:invert hover:opacity-50 h-4"/></a>}
    </h2>
    <div class="mb-2">
      <p class="text-gray-500 text-sm">{project.duration}</p>
    </div>
    <p class="text-gray-500 text-sm my-2">{project.overview}</p>
    <div class="flex flex-wrap gap-1 my-2">{project.related.map((related: string) => <Related text={related}/>)}</div>
  </div>
  {imgPath && <Image src={imgPath} alt={project.title} width="50" height="50" class="w-60 object-cover ms-auto aspect-video"/>}
</div>