---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const { project } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/img/portfolio/projects/*.jpg");
const heroImages = import.meta.glob<{ default: ImageMetadata }>("/src/img/heroes/*.png");
const img = project.imgPath ? heroImages[`/src/img/heroes/${project.imgPath}`] : images[`/src/img/portfolio/projects/${project.key}.jpg`];
---

<a href={project.link || project.repo} id={project.key} class="cursor-pointer w-80 reveal load-hidden grid group rounded-lg bg-white dark:bg-gray-700 border-2 border-gray-500/10 hover:border-ne-500 transition transition-color duration-100">
  <Image src={img()} alt={project.title} width="400" height="300" class="h-45 w-80 object-cover aspect-video rounded-t-lg"/>
  <div class="p-2 text-left grid">
    <h2 class="group-hover:text-ne-500 dark:group-hover:text-ne-300 font-medium">  
      {project.title}
    </h2>
    <p class="text-gray-500 text-sm">{project.overview}</p>
    <div class="flex flex-wrap gap-1 my-1">
      {project.related.map((r: string) => (
        <span class="text-white bg-ne-500 text-xs px-2 py-1 rounded-md">{r}</span>
      ))}
    </div>
  </div>
</a>