---
import PiePuzzle from "../../../components/quizzes/pie/PiePuzzle.svelte";
import pieData from "../../../data/quizzes/pie.json";
import NavBar from "../../../components/common/NavBar.astro";
import PageFind from "../../../components/common/PageFind.astro";
import Seo from "../../../components/seo/Seo.astro";
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/common/Footer.astro";

export async function getStaticPaths() {
  const types = [
    {
      key: "geography",
      title: "Geography Pie Charts",
    },
    {
      key: "technology",
      title: "Technology Pie Charts",
    },
    {
      key: "language",
      title: "Languages Pie Charts",
    },
    {
      key: "science",
      title: "Science Pie Charts",
    },
    {
      key: "economy",
      title: "Economy Pie Charts",
    },
    {
      key: "politics",
      title: "Politics Pie Charts",
    }
  ];

  return [
    ...types.map(({ key, title }) => ({
      params: { quiz: key },
      props: {
        title,
        instructions: `Given a random pie chart, can you identify which is the correct label? After you answer, you can check out the data source to learn more about the data! Also, sometimes, the 'Others' category may be excluded if it is smaller than 1%.`,
        data: Object.entries(pieData).filter(([k, d]) => d.tags.includes(key[0].toUpperCase() + key.slice(1)))
      }
    })),
    {
      params: { quiz: "all" },
      props: {
        title: "All Pie Charts",
        instructions: `Given a random pie chart, can you identify which is the correct label? After you answer, you can check out the data source to learn more about the data! Also, sometimes, the 'Others' category may be excluded if it is smaller than 1%.`,
        data: Object.entries(pieData)
      }
    }
  ];
}

export const prerender = true;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/quizzes/pie/${Astro.params.quiz}.jpg`]().then(img => img.default);
---
<Seo heroText={Astro.props.instructions} pageName={`${Astro.props.title} (Pie Chart Puzzle)`} path={`quizzes/pie/${Astro.params.quiz}`}/>

<link rel="stylesheep4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<Layout>
  <div slot="main" class="">
    <NavBar/>
    <PageFind pageName={`${Astro.props.title} (Pie Chart Puzzle)`} heroText={Astro.props.instructions}/>
    <PiePuzzle client:only="svelte" key={Astro.params.quiz} data={Astro.props.data} title={Astro.props.title} instructions={Astro.props.instructions}/>
    <Footer site="quizzes"/>
  </div>
</Layout>
<liript is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>