---
import pieData from "../../../data/quizzes/pie.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from '/src/img/heroes/PIE.jpg';

type QuizJson = {[k: string]: {
  pie: {[field: string]: number},
  tags: string[],
  link: string,
  down?: boolean
}}

const quizzes = [
  {
    key: "geography",
    title: "Geography Pie Charts",
    imgPath: "/img/quizzes/pie/geography.jpg",
    href: "/quizzes/pie/geography",
    tags: ["Geography"]
  },
  {
    key: "technology",
    title: "Technology Pie Charts",
    imgPath: "/img/quizzes/pie/technology.jpg",
    href: "/quizzes/pie/technology",
    tags: ["Technology"]
  },
  {
    key: "Languages",
    title: "Languages Pie Charts",
    imgPath: "/img/quizzes/pie/language.jpg",
    href: "/quizzes/pie/languages",
    tags: ["Languages"]
  },
  {
    key: "science",
    title: "Science Pie Charts",
    imgPath: "/img/quizzes/pie/science.jpg",
    href: "/quizzes/pie/science",
    tags: ["Science"]
  },
  {
    key: "all",
    title: "All Pie Charts",
    imgPath: "/img/quizzes/pie/all.jpg",
    href: "/quizzes/pie/all",
    tags: ["Geography", "Technology", "Languages", "Science"]
  }
]

const heroText = quizzesData.position.heroText;
const title = quizzesData.position.title;
---
<Seo {heroText} {seoImg} pageName={"Pie Chart Puzzle"} path={`quizzes/pie`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.sort((a, b) => a.title.localeCompare(b.title)).map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={`Can you figure out what each ${quiz.title.slice(0, -1).toLowerCase()} means?`}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={quiz.tags}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>