---
import type { GetStaticPaths } from "astro";
import YesNoQuiz from "../../../components/quizzes/yes-no/YesNoQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import trashData from "../../../data/quizzes/yes-no/trash.json";
import yesNoData from "../../../data/quizzes/yes-no.json";
import { SEO } from 'astro-seo';

export const getStaticPaths = (() => {
  return [
    { 
      params: {
        quiz: "trash" 
      },
      props: {
        title: "Reuse or Trash?",
        data: trashData,
        instructions: yesNoData.trash.instructions,
        fields: [
          "description",
          "duration",
          "storage",
          "usage"
        ],
        options: ["Reuse", "Trash"]
      }
    },
  ];
}) satisfies GetStaticPaths;
---
<SEO
  title={`${Astro.props.title} | Izz Hafeez`}
  description={Astro.props.instructions}
  canonical={`https://izzhafeez.com/quizzes/yes-no/${Astro.params.quiz}`}
  openGraph={{
    basic: {
      title: `${Astro.props.title} | Izz Hafeez`,
      type: "website",
      image: `/src/img/quizzes/yes-no/${Astro.params.quiz}.jpg`,
      url: `https://izzhafeez.com/quizzes/yes-no/${Astro.params.quiz}`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: `/src/img/quizzes/yes-no/${Astro.params.quiz}.jpg`,
      },
      { name: "twitter:title", content: `${Astro.props.title} | Izz Hafeez`},
      { name: "twitter:description", content: Astro.props.instructions },
    ],
  }}
/>

<Layout>
  <div slot="main">
    <NavBar/>
    <YesNoQuiz client:load title={Astro.props.title} data={Astro.props.data} instructions={Astro.props.instructions} fields={Astro.props.fields} options={Astro.props.options} key={Astro.params.quiz}/>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@4/minimal.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </div>
</Layout>