---
import streakData from "../../../data/quizzes/streak.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from "/src/img/heroes/STREAK.jpg";

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const quizzes = Object.entries(streakData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/streak/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/streak/${key}.jpg`,
    tags: value.tags || []
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = quizzesData.streak.heroText;
const title = quizzesData.streak.title;
---
<Seo {heroText} {seoImg} pageName="Streak Quizzes" path="quizzes/streak"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={quiz.instructions}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={quiz.tags}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>