---
import NavBar from "../../../../components/common/NavBar.astro";
import BurningBridgesGameCreate from "../../../../components/games/burning-bridges/BurningBridgesGameCreate";
import CoolBackground, { Color } from "../../../../components/common/CoolBackground";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/BURNING-BRIDGES.jpg';
import gamesData from "../../../../data/games/games.json";
export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["burning-bridges"].heroText;
---

<Seo {heroText} {seoImg} pageName={'Burning Bridges'} path={`games/burning-bridges/${id}/create`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-ns-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react" color={Color.NS}/>
    <div class="z-10 fixed w-screen h-screen grid place-items-center overflow-scroll py-20">
      <BurningBridgesGameCreate client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>