---
import NavBar from "../../../../components/common/NavBar.astro";
import TruthDareGameCreate from "../../../../components/games/truth-or-dare/TruthDareGameCreate";
import CoolBackground, { Color } from "../../../../components/common/CoolBackground";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/MATH-ATTACK.jpg';
import gamesData from "../../../../data/games/games.json";
export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["truth-or-dare"].heroText;
---

<Seo {heroText} {seoImg} pageName={'Truth or Dare'} path={`games/truth-or-dare/${id}/create`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-ew-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react" color={Color.EW}/>
    <div class="z-10">
      <TruthDareGameCreate client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>