---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import appsData from '../../data/apps/apps.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import MediumCard from '../../components/common/MediumCard.astro';
import { capitalise } from '../../utils/string';
import { SEO } from 'astro-seo';
import seoImg from '../../img/heroes/APPS.jpg';

const heroText = homeJson.apps.heroText;
---
<SEO
  title={`Apps | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/apps`}
  openGraph={{
    basic: {
      title: `Apps | Izz Hafeez`,
      type: "website",
      image: seoImg.src,
      url: `https://izzhafeez.com/apps`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `Apps | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="APPS" text={heroText} site="apps"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(appsData).map(([key, value]) => <MediumCard href={`/apps/${key}`} title={capitalise(key)} heroText={value.heroText} site="apps" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer site="apps"/>
  </div>
</Layout>
