---
import NavBar from "../../../../components/common/NavBar.astro";
import Layout from "../../../../layouts/Layout.astro";
import collabTierCategories from '../../../../data/apps/collab-tier/categories.json';
import CommentsSection from "../../../../components/blog/comments/CommentsSection";
import CollabTierRate from "../../../../components/apps/collab-tier/CollabTierRate.vue";
import seoImg from "../../../../img/heroes/COLLAB-TIER.jpg";
import appsData from "../../../../data/apps/apps.json";
import Seo from "../../../../components/seo/Seo.astro";

export const prerender = false;

const { id } = Astro.params;
const item = Astro.url.searchParams.get('item') || '';
const category = collabTierCategories.filter(cat => cat.key == id)[0];
const heroText = appsData["collab-tier"].heroText;
---
<Seo {heroText} pageName={"CollabTier"} path="apps/collab-tier"/>

<Layout>
  <div slot="main">
    <NavBar/>
    <div class="max-w-6xl mx-auto p-2">
      <CollabTierRate category={category} item={item} fields={category.fields} client:load/>
      <CommentsSection id={`${id}+${item}`} label="New Rating" color="ew" fields={category.fields} client:load/>
    </div>
  </div>
</Layout>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>