---
import NavBar from "../../../../components/common/NavBar.astro";
import LocationGuessr from "../../../../components/games/location-guessr/LocationGuessr";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import gamesData from "../../../../data/games/games.json";
import mallsData from "../../../../data/games/stat-attack/malls.json";
import citiesData from "../../../../data/games/stat-attack/cities.json";
import mrtData from "../../../../data/games/stat-attack/mrt.json";
import universitiesData from "../../../../data/games/stat-attack/universities.json";
import animeData from "../../../../data/games/stat-attack/anime.json";
import artistsData from "../../../../data/games/stat-attack/artists.json";
import songsYoutubeData from "../../../../data/games/stat-attack/songs-youtube.json";
import pokemonData from "../../../../data/games/stat-attack/pokemon.json";
import youtubersData from "../../../../data/games/stat-attack/youtubers.json";
import fastFoodData from "../../../../data/games/stat-attack/fast-food.json";
import schoolData from "../../../../data/games/stat-attack/schools.json";
import airportsData from "../../../../data/games/stat-attack/airports.json";
import moviesData from "../../../../data/games/stat-attack/movies.json";
import programmingLanguagesData from "../../../../data/games/stat-attack/programming-languages.json";
import countriesData from "../../../../data/games/stat-attack/countries.json";
import elementsData from "../../../../data/games/stat-attack/elements.json";
import leadersData from "../../../../data/games/stat-attack/leaders.json";
import videoGamesData from "../../../../data/games/stat-attack/video-games.json";
import covidData from "../../../../data/games/stat-attack/covid-19.json";
import laptopData from "../../../../data/games/stat-attack/laptops.json";
import roadsCoordsData from "../../../../data/games/stat-attack/roads-coords.json";
import roadsFeaturesData from "../../../../data/games/stat-attack/roads-features.json";
import indoAttractionsData from "../../../../data/games/stat-attack/indo-attractions.json";
import websitesData from "../../../../data/games/stat-attack/websites.json";
import subzonesData from "../../../../data/games/stat-attack/subzones.json";
import kanjiData from "../../../../data/games/stat-attack/kanji.json";
import csModsData from "../../../../data/games/stat-attack/cs-mods.json";
import githubData from "../../../../data/games/stat-attack/github.json";
import mineralsData from "../../../../data/games/stat-attack/minerals.json";
import nutritionData from "../../../../data/games/stat-attack/nutrition.json";
import buildingsData from "../../../../data/games/stat-attack/buildings.json";
import busStopsData from "../../../../data/games/stat-attack/bus-stops.json";
import busServicesData from "../../../../data/games/stat-attack/bus-services.json";
import famousPeopleData from "../../../../data/games/stat-attack/famous-people.json";
import placesInSingaporeData from "../../../../data/games/stat-attack/places-in-singapore.json";
import unescoData from "../../../../data/games/stat-attack/unesco.json";
import colorsData from "../../../../data/games/stat-attack/colors.json";
import deathsData from "../../../../data/games/stat-attack/deaths.json";
import amazonData from "../../../../data/games/stat-attack/amazon.json";

export const prerender = false;
const { id } = Astro.params;
const splitPath = Astro.url.pathname.split("/");
const deckName: string = splitPath[splitPath.length - 2];

let deck;
switch (deckName) {
  case "malls":
    deck = {
      title: "Malls of Singapore",
      data: mallsData
    };
    break;
  case "cities":
    deck = {
      title: "Cities of the World",
      data: citiesData
    }
    break;
  case "mrt":
    deck = {
      title: "MRT Stations of Singapore",
      data: mrtData
    }
    break;
  case "countries":
    deck = {
      title: "Countries of the World",
      data: countriesData
    } // https://www.kaggle.com/datasets/nelgiriyewithana/countries-of-the-world-2023
    break;
  case "universities":
    deck = {
      title: "University Rankings",
      data: universitiesData
    };
    break;
  case "schools":
    deck = {
      title: "Schools of Singapore",
      data: schoolData
    }
    break;
  case "airports":
    deck = {
      title: "Airports of the World",
      data: airportsData
    }
    break;
  case "roads-coords":
    deck = {
      title: "Roads of Singapore (Coordinates)",
      data: roadsCoordsData // https://www.kaggle.com/datasets/nelgiriyewithana/singapore-roads
    }
    break;
  case "indo-attractions":
    deck = {
      title: "Indonesian Attractions",
      data: indoAttractionsData // https://www.kaggle.com/datasets/aprabowo/indonesia-tourism-destination?select=tourism_with_id.csv
    }
    break;
  case 'subzones':
    deck = {
      title: "Subzones of Singapore",
      data: subzonesData
    }
    break;
  case 'buildings':
    deck = {
      title: "Buildings of the World",
      data: buildingsData
    }
    break;
  case 'bus-stops':
    deck = {
      title: "Bus Stops of Singapore",
      data: busStopsData
    }
    break;
  case 'famous-people':
    deck = {
      title: "Famous People",
      data: famousPeopleData
    }
    break;
  case "places-in-singapore":
    deck = {
      title: "Places in Singapore",
      data: placesInSingaporeData
    }
    break;
  case 'unesco':
    deck = {
      title: "UNESCO World Heritage Sites",
      data: unescoData
    }
    break;
  case 'deaths':
    deck = {
      title: "Deadly Events",
      data: deathsData,
    }
    break;
  default:
    deck = {
      title: '',
      data: []
    };
}

const heroText = gamesData["location-guessr"].heroText;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/games/stat-attack/${deckName}.jpg`]().then(img => img.default);
---

<Seo {heroText} {seoImg} pageName={'Location Guessr'} path={`games/location-guessr/${id}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <LocationGuessr client:only="react" id={id || ""} data={deck.data} title={deck.title}/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  </div>
</Layout>