---
import NavBar from "../../../../components/common/NavBar.astro";
import LocationGuessr from "../../../../components/games/location-guessr/LocationGuessr";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import gamesData from "../../../../data/games/games.json";
import { getData } from "../../common/decks";

export const prerender = false;
const { id } = Astro.params;
const splitPath = Astro.url.pathname.split("/");
const deckName: string = splitPath[splitPath.length - 2];

let deck = getData(deckName);

const heroText = gamesData["location-guessr"].heroText;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/games/stat-attack/${deckName}.jpg`]().then(img => img.default);
---

<Seo {heroText} {seoImg} pageName={'Location Guessr'} path={`games/location-guessr/${id}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <LocationGuessr client:only="react" id={id || ""} data={deck.data} title={deck.title}/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  </div>
</Layout>