---
import hikeData from '../../../data/blog/hikes.json';
import routesData from '../../../data/blog/hikes-routes.json';
import LLMap from '../../../components/blog/hikes/LLMap.svelte';
import NavBar from '../../../components/common/NavBar.astro';
import Hero from '../../../components/common/Hero.astro';
import Footer from '../../../components/common/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import Seo from '../../../components/seo/Seo.astro';
import seoImg from '../../../img/heroes/HIKES.jpg';

export function getStaticPaths() {
  return Object.entries(hikeData).map(([key, value]) => {
    let distance = parseFloat((routesData as any)[key].length.toFixed(2));
    const label = `<b>${value.name}</b><br/>${distance} km`;
    const color = value.color;
    const coords = (routesData as any)[key].route;
    return {
      params: {
        key
      },
      props: {
        hike: {
          ...value,
          coords,
          color,
          label,
          distance
        }
      }
    }
  })
}

export const prerender = true;
const { hike } = Astro.props;
---

<Seo heroText={hike.route} {seoImg} pageName={hike.name} path={`blog`}/>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={hike.name} text={``} site="blog"/>
    <LLMap client:only="svelte" lines={[hike]}/>
    <div class="mx-auto max-w-6xl mt-10 p-2">
      <h4 class="text-3xl text-cc-500 font-extrabold">DISTANCE</h4>
      <p class="my-4">{hike.distance}km</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">DATE</h4>
      <p class="my-4">{hike.date}</p>
      {hike.route &&
      <h4 class="text-3xl text-cc-500 font-extrabold">NUMBER OF VICTIMS</h4>
      <p class="my-4">{'💁'.repeat(hike.victims)}</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">RATING</h4>
      <p class="my-4">{'★'.repeat(hike.rating) + '☆'.repeat(5-hike.rating)}</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">ROUTE</h4>
      <p class="my-4">{hike.route}</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">REFRESHMENTS</h4>
      <p class="my-4">{hike.refreshments}</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">EXPERIENCE</h4>
      <p class="my-4">{hike.experience}</p>
      <h4 class="text-3xl text-cc-500 font-extrabold">TIPS</h4>
      <p class="my-4">{hike.tips}</p>
      }
    </div>
    <Footer site="blog"/>
  </div>
</Layout>