---
import Footer from '../../../components/common/Footer.astro';
import Hero from '../../../components/common/Hero.astro';
import NavBar from '../../../components/common/NavBar.astro';
import LLMap from '../../../components/blog/hikes/LLMap.svelte';
import Seo from '../../../components/seo/Seo.astro';
import blogData from '../../../data/blog/blog.json';
import seoImg from '../../../img/heroes/HIKES.jpg';
import Layout from '../../../layouts/Layout.astro';
import hikeData from '../../../data/blog/hikes.json';
import routesData from '../../../data/blog/hikes-routes.json';
import HikesSection from '../../../components/blog/HikesSection';

const heroText = blogData.hikes.heroText;

const hikes = [];
let totalDistance = 0;
let futureDistance = 0;
for (const [key, value] of Object.entries(hikeData)) {
  let distance = parseFloat((routesData as any)[key].length.toFixed(2));
  (hikeData as any)[key].distance = distance;
  if (value.date != "TBD") {
    totalDistance += distance;
  } else {
    futureDistance += distance;
  }
  hikes.push({
    label: `<b>${value.name}</b><br/>${distance} km`,
    color: value.color,
    coords: (routesData as any)[key].route,
    link: `/blog/hikes/${key}`
  });
}
---

<Seo {heroText} {seoImg} pageName={"Hikes"} path={`blog/hikes`}/>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="HIKES" text={`${heroText} So far, I've walked ${totalDistance.toFixed(0)}km, and I'm planning for ${futureDistance.toFixed(0)}km more.`} site="blog"/>
    <LLMap client:only="svelte" lines={hikes}/>
    <HikesSection hikeData={hikeData} client:load/>
    <Footer site="blog"/>
  </div>
</Layout>