---
import NavBar from "../../../../components/common/NavBar.astro";
import DateForm from "../../../../components/meetupmaker/DateForm.vue";
import Layout from "../../../../layouts/Layout.astro";
import PreferenceForm from "../../../../components/meetupmaker/PreferenceForm.vue";
import Finalised from "../../../../components/meetupmaker/Finalised.vue";
import Footer from "../../../../components/common/Footer.astro";

export const prerender = false;
const id = Astro.url.searchParams.get('id');
const data = await fetch(`${import.meta.env.PUBLIC_MM}/api/dates/${id}`).then(res => res.json());
const dates = data.dates;
const participants = data.participants;
const meetupName = data.meetup_name;
const passwordHash = data.password_hash;
const hostName = data.host_name;
const date = data.date;
const recommendations = data.recommendations;
const timing = data.timing;
const location = data.location;
---

<Layout>
  <div slot="main">
    <NavBar/>
    <!-- if date exists -->    
    {!date && !timing && <DateForm client:only="vue" dates={dates} id={id} meetupName={meetupName} participants={participants} passwordHash={passwordHash}/>}
    <!-- if date does not exist -->
    {date && !timing && <PreferenceForm client:only="vue" date={date} id={id} meetupName={meetupName} participants={participants} passwordHash={passwordHash} recommendations={recommendations}/>}
    <!-- if date and timing exist -->
    {date && timing && <Finalised client:load id={id} participants={participants} hostName={hostName} meetupName={meetupName} timing={timing} date={date} location={location}/>}
  </div>
</Layout>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@4/minimal.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>