---
import positionData from "../../../data/quizzes/position.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Hero from "../../../components/common/Hero.astro"
import Footer from "../../../components/common/Footer.astro"
import Seo from "../../../components/seo/Seo.astro";
import quizzesData from "../../../data/quizzes/quizzes.json";
import seoImg from '/src/img/heroes/POSITION.jpg';

type QuizJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const quizzes = Object.entries(positionData as QuizJson).map(([key, value]) => {
  return {
    key,
    href: `/quizzes/position/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/quizzes/map/${key}.jpg`,
    tags: value.tags || []
  }
}).sort((a,b) => a.title.localeCompare(b.title));

const heroText = quizzesData.position.heroText;
const title = quizzesData.position.title;
---
<Seo {heroText} {seoImg} pageName={"Position Puzzles"} path={`quizzes/position`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label={title} text={heroText} site="quizzes"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {quizzes.map(quiz => <MediumCard
        href={quiz.href}
        title={quiz.title}
        site="quizzes"
        heroText={`How well do you know the locations of ${quiz.title}?`}
        key={quiz.key}
        imgPath={quiz.imgPath}
        isEager={true}
        tags={quiz.tags}/>)}
    </section>
    <Footer site="quizzes"/>
  </div>
</Layout>