---
const { key, value, site } = Astro.props;

let bg = "bg-lrt-700/50 group-hover:bg-lrt-700/80 hover:border-lrt-300";
let textColor = "group-hover:text-lrt-300";
switch (site) {
  case 'portfolio':
    bg = "bg-ew-700/50 group-hover:bg-ew-700/80 hover:border-ew-300";
    textColor = "group-hover:text-ew-300";
    break;
}
---
<a href={`/${site}/${key}`} id="hero" class="bg-opacity-50 bg-cover h-80 group" style={`background-image: url('/img/heroes/${key.toUpperCase()}.jpg');`}>
  <div class={`${bg} border-[1px] border-white/0 h-80 overflow-clip grid content-center text-center p-8`}>
    <h1 class={`font-extrabold text-5xl text-white ${textColor}`}>{key.toUpperCase()}</h1>
    <p class="text-white max-w-lg mx-auto">{value.heroText}</p>
  </div>
</a>