---
import { Image } from "astro:assets";
import linkedin from '/src/img/logos/linkedin.svg';
import github from '/src/img/logos/github.svg';
import youtube from '/src/img/logos/youtube.svg';
import instagram from '/src/img/logos/instagram.svg';
import email from '/src/img/logos/email.svg';

const { isEager } = Astro.props;

let bgColor;
switch (Astro.props.color) {
  case 'ew':
    bgColor = 'text-ew-500';
    break;
  case 'ns':
    bgColor = 'text-ns-500';
    break;
  case 'lrt':
    bgColor = 'text-gray-500';
    break;
}
---
<footer class={`h-20 mt-12 w-screen border-t-[1px] border-gray-500/50 flex items-center p-4 ${bgColor}`}>
  <p class="dark:text-white">Izz Hafeez, 2024</p>
  <div class="ms-auto flex gap-2">
    <a href="https://www.linkedin.com/in/izzhafeez/">
      <Image loading={isEager ? 'eager' : 'lazy'} src={linkedin} class="h-5 brightness-0 dark:invert hover:opacity-50" alt="LinkedIn" width="25" height="25"/>
    </a>
    <a href="https://github.com/izzhafeez">
      <Image loading={isEager ? 'eager' : 'lazy'} src={github} class="h-5 brightness-0 dark:invert hover:opacity-50" alt="GitHub" width="25" height="25"/>
    </a>
    <a href="https://www.youtube.com/c/izzhafeez">
      <Image loading={isEager ? 'eager' : 'lazy'} src={youtube} class="h-5 brightness-0 dark:invert hover:opacity-50" alt="YouTube" width="25" height="25"/>
    </a>
    <a href="https://www.instagram.com/mynameizzhafeez/?hl=es">
      <Image loading={isEager ? 'eager' : 'lazy'} src={instagram} class="h-5 brightness-0 dark:invert hover:opacity-50" alt="Instagram" width="25" height="25"/>
    </a>
    <a href="mailto:izzhafeez@outlook.com">
      <Image loading={isEager ? 'eager' : 'lazy'} src={email} class="h-5 brightness-0 dark:invert hover:opacity-50" alt="Email" width="25" height="25"/>
    </a>
  </div>
</footer>