---
const { site } = Astro.props;

let gradientColor = 'from-lrt-700/80 to-lrt-500/50';

switch (site) {
  case 'portfolio':
    gradientColor = 'from-ew-700/80 to-ew-500/50';
    break;
  case 'quizzes':
    gradientColor = 'from-ns-700/80 to-ns-500/50';
    break;
}
const backgroundImgUrl = `/img/heroes/${Astro.props.label.split(" ")[0]}.jpg`;
---
<div id="hero" class="bg-opacity-50 bg-cover h-80 w-screen" style={`background-image: url('${backgroundImgUrl}'); background-repeat:no-repeat; background-position: center center;`}>
  <div class={`bg-gradient-to-r ${gradientColor} w-screen h-80 overflow-clip grid content-center p-8`}>
  <!-- <div class={`${gradientColor} w-screen h-80 overflow-clip grid content-center p-8`}> -->
    <div class="max-w-6xl mx-auto">
      <h1 transition:name={Astro.props.label} class="font-extrabold text-xl text-white mb-2 relative z-0">{Astro.props.label}</h1>
      <p transition:name={Astro.props.text} class="text-white max-w-xl relative z-0">{Astro.props.text}</p>
    </div>
  </div>
</div>