---
const { site } = Astro.props;

let bgColor = 'bg-lrt-500';

switch (site) {
  case 'portfolio':
    bgColor = 'bg-ew-500';
    break;
  case 'quizzes':
    bgColor = 'bg-ns-500';
    break;
}
---
<div id="hero" class="bg-opacity-50 bg-cover h-80 w-screen">
  <div class={`${bgColor} w-screen h-80 overflow-clip grid content-center p-8`}>
    <div class="max-w-6xl mx-auto">
      <h1 transition:name={Astro.props.label} class="font-extrabold text-xl text-white mb-2">{Astro.props.label}</h1>
      <p transition:name={Astro.props.text} class="text-white max-w-xl">{Astro.props.text}</p>
    </div>
  </div>
</div>