---
import { capitalise } from "../../utils/string";
import logos from "./logos";
import appsData from '../../data/apps/apps.json';
import quizzesData from '../../data/quizzes/quizzes.json';
import portfolioData from '../../data/portfolio/portfolio.json';
import blogData from '../../data/blog/blog.json';
import gamesData from '../../data/games/games.json';

const { id } = Astro.props;

type Logos = {
  [key: string]: {
    src: string;
  };
};
---

<aside id={`${id}-drawer`} class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-gray-100 w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby={`${id}-drawer-label`} data-pagefind-ignore="all">
  <p class="text-base opacity-0">Wow you found something</p>
  <button type="button" data-drawer-hide={`${id}-drawer`} aria-controls={`${id}-drawer`} class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <h3 id={`${id}-drawer-label`} class={`inline-flex items-center mb-4 text-3xl font-semibold text-gray-500 dark:text-gray-300 p-2 rounded-md hover:bg-gray-500 dark:hover:text-white hover:text-white`}>
    <a href="/">{capitalise(id)}</a>
  </h3>
  <ul class="space-y-2 font-medium h-auto mb-20">
    <li>
      <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-white dark:text-white dark:hover:bg-gray-700 border-2 transition-color border-black/0 hover:border-ew-500" aria-controls="dropdown-apps" data-collapse-toggle="dropdown-apps">
        <img src={logos['apps'].src} alt="Apps" class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100" />
        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Apps</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <ul id="dropdown-apps" class="hidden pt-2 space-y-2">
        {Object.entries(appsData).map(([key, value]) => (<li>
          <a href={`/apps/${key}`} class="flex items-center p-2 rounded-lg hover:bg-white dark:hover:bg-gray-700 group border-2 transition transition-color border-black/0 hover:border-ew-500">
            <img src={(logos as Logos)[key].src} class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100"/>
            <h5 class="ms-3">{capitalise(value.title)}</h5>
          </a>
        </li>))}
      </ul>
    </li>
    <li>
      <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-white dark:text-white dark:hover:bg-gray-700 border-2 transition-color border-black/0 hover:border-ns-500" aria-controls="dropdown-quizzes" data-collapse-toggle="dropdown-quizzes">
        <img src={logos['quizzes'].src} alt="Quizzes" class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100" />
        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Quizzes</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <ul id="dropdown-quizzes" class="hidden pt-2 space-y-2">
        {Object.entries(quizzesData).map(([key, value]) => (<li>
          <a href={`/quizzes/${key}`} class="flex items-center p-2 rounded-lg hover:bg-white dark:hover:bg-gray-700 group border-2 transition transition-color border-black/0 hover:border-ns-500">
            <img src={(logos as Logos)[key].src} class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100"/>
            <h5 class="ms-3">{capitalise(value.title)}</h5>
          </a>
        </li>))}
      </ul>
    </li>
    <li>
      <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-white dark:text-white dark:hover:bg-gray-700 border-2 transition-color border-black/0 hover:border-ne-500" aria-controls="dropdown-portfolio" data-collapse-toggle="dropdown-portfolio">
        <img src={logos['portfolio'].src} alt="Portfolio" class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100" />
        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Portfolio</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <ul id="dropdown-portfolio" class="hidden pt-2 space-y-2">
        {Object.entries(portfolioData).map(([key, value]) => (<li>
          <a href={`/portfolio/${key}`} class="flex items-center p-2 rounded-lg hover:bg-white dark:hover:bg-gray-700 group border-2 transition transition-color border-black/0 hover:border-ne-500">
            <img src={(logos as Logos)[key].src} class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100"/>
            <h5 class="ms-3">{capitalise(value.title)}</h5>
          </a>
        </li>))}
      </ul>
    </li>
    <li>
      <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-white dark:text-white dark:hover:bg-gray-700 border-2 transition-color border-black/0 hover:border-cc-500" aria-controls="dropdown-blog" data-collapse-toggle="dropdown-blog">
        <img src={logos['blog'].src} alt="Portfolio" class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100" />
        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Blog</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <ul id="dropdown-blog" class="hidden pt-2 space-y-2">
        {Object.entries(blogData).map(([key, value]) => (<li>
          <a href={`/blog/${key}`} class="flex items-center p-2 rounded-lg hover:bg-white dark:hover:bg-gray-700 group border-2 transition transition-color border-black/0 hover:border-cc-500">
            <img src={(logos as Logos)[key].src} class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100"/>
            <h5 class="ms-3">{capitalise(value.title)}</h5>
          </a>
        </li>))}
      </ul>
    </li>
    <li>
      <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-white dark:text-white dark:hover:bg-gray-700 border-2 transition-color border-black/0 hover:border-dt-500" aria-controls="dropdown-games" data-collapse-toggle="dropdown-games">
        <img src={logos['games'].src} alt="Games" class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100" />
        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Games</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <ul id="dropdown-games" class="hidden pt-2 space-y-2">
        {Object.entries(gamesData).map(([key, value]) => (<li>
          <a href={`/games/${key}`} class="flex items-center p-2 rounded-lg hover:bg-white dark:hover:bg-gray-700 group border-2 transition transition-color border-black/0 hover:border-dt-500">
            <img src={(logos as Logos)[key].src} class="w-5 h-5 transition duration-75 saturate-0 group-hover:saturate-100"/>
            <h5 class="ms-3">{capitalise(value.title)}</h5>
          </a>
        </li>))}
      </ul>
    </li>
  </ul>
</aside>