---
import { Image } from "astro:assets";

const { href, title, heroText, site, key, imgPath } = Astro.props;

let textColor = "group-hover:text-gray-500 dark:group-hover:text-gray-300";
let neonColor = "hover:neon-gray";
switch (site) {
  case 'portfolio':
    textColor = "group-hover:text-ew-500 dark:group-hover:text-ew-300";
    neonColor = "hover:neon-ew";
    break;
  case 'quizzes':
    textColor = "group-hover:text-ns-500 dark:group-hover:text-ns-300";
    neonColor = "hover:neon-ns";
    break;
}
---

<a role="button" href={href} id={key} class={`group w-full ${neonColor} p-4 rounded-lg flex gap-2`}>
  <div>
    <h2 transition:name={key} class={`${textColor} font-medium dark:text-white flex items-center gap-2`}>  
      {title} 
    </h2>
    <p class="text-gray-500 text-sm my-2">{heroText}</p>
  </div>
  {imgPath && <Image src={imgPath} alt={title} width="250" height="150" class="w-60 object-cover ms-auto aspect-video"/>}
</a>