---
import { capitalise } from '../../utils/string';
import ThemeIcon from './ThemeIcon.astro';
type Option = { href:string, label:string };
const pathName = Astro.url.pathname;
const path = typeof(pathName) === 'string' ? pathName.split('/') : []; 

function getOptions() {
  if (path.length < 3) {
    return [
      { href: '/portfolio', label: 'portfolio' },
      { href: '/quizzes', label: 'quizzes'}
    ]
  }

  const site = path[1];

  switch (site) {
    case 'portfolio':
      return [
        { href: '/portfolio/art', label: 'art' },
        { href: '/portfolio/courses', label: 'courses' },
        { href: '/portfolio/experience', label: 'experience' },
        { href: '/portfolio/music', label: 'music' },
        { href: '/portfolio/projects', label: 'projects' },
        { href: '/portfolio/sk</a>ills', label: 'skills' },
      ];
    case 'quizzes': 
      return [
        { href: '/quizzes/map', label: 'map' },
        { href: '/quizzes/streak', label: 'streak' }
      ];
  }

  return [];
}

function getHref() {
  if (path.length === 2) return '';
  return path[1];
}

function getLabel(href: string) {
  switch (href) {
    case 'portfolio': return 'Portfolio';
    case 'quizzes': return 'Quizzes';
  }
}

function getHoverColor() {
  if (path.length === 2) {
    return 'hover:bg-gray-500/20 dark:hover:bg-gray-300/20';
  }

  const site = path[1];
  switch (site) {
    case 'portfolio': 
      return 'hover:bg-ew-500/20 dark:hover:bg-ew-300/20';
    case 'quizzes': 
      return 'hover:bg-ns-500/20 dark:hover:bg-ns-300/20';
    default:
      return 'hover:bg-gray-500/20 dark:hover:bg-gray-300/20';
  }
}

const href = getHref();
const label = getLabel(href);

const options: Option[] = getOptions();
---
<div>
  <div class="h-20"></div>
  <nav class="backdrop-blur-xl border-gray-200 dark:border-gray-700 z-40 h-20 items-center flex top-0 w-screen fixed" transition:name="nav-bar">
    <div class="text-white p-4 flex gap-4">
      <a href="/" class="w-10">
        <img src="/img/desmosito-black-trans.png" class="h-10 dark:invert"/>
      </a>
      <a href={'/' + href} class="grid place-items-center">
        <h1 class="text-black dark:text-white font-extrabold text-xl">{label || 'Izz Hafeez'}</h1>
      </a>
    </div>
    <div class="ms-auto items-center gap-2 h-20 p-4 flex">
      {options.map(option => <a href={option.href} class={`p-2 rounded-lg text-black dark:text-white dark:hover:text-white ${getHoverColor()} hidden lg:block`}>{capitalise(option.label)}</a>)}
      {options.map(option => <div class="grid justify-items-center lg:hidden"><a href={option.href} class="p-2 rounded-lg text-black dark:text-white hover:bg-ew-500/20 dark:hover:bg-ew-300/20 dark:hover:text-white block lg:hidden peer"><img src={`/img/common/${option.label}.svg`} class="h-[20px] w-[20px] dark:invert"/></a><div class="absolute mt-12 p-2 hidden bg-black text-white dark:bg-white dark:text-black rounded-lg peer-hover:block">{capitalise(option.label)}</div></div>)}
      <ThemeIcon/>
    </div>
  </nav>
</div>