---
const { href, title, heroText, site, key } = Astro.props;

let neon = 'hover:neon-lrt';
let text = '';
switch (site) {
  case 'portfolio':
    neon = 'hover:neon-ew';
    text = 'group-hover:text-ew-500 dark:group-hover:text-ew-300';
    break;
  case 'gqmaster':
    neon = 'hover:neon-ns';
    text = 'group-hover:text-ns-500 dark:group-hover:text-ns-300';
    break;
}
---
<a transition:name={key} href={href} role="button" class={`${neon} p-4 rounded-lg group`}>
  <h2 class={`font-medium dark:text-white ${text}`}>{title}</h2>
  <p class="text-gray-500 text-sm">{heroText}</p>
</a>