---
import NavBar from "../../../components/common/NavBar.astro";
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/common/Footer.astro";
import Hero from "../../../components/common/Hero.astro";
import gamesData from "../../../data/games/games.json";
import MediumCard from "../../../components/common/MediumCard.astro";
import statAttackData from "../../../data/games/stat-attack/stat-attack.json";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/LOCATION-GUESSR.jpg';

type DeckJson = {[k: string]: {
  title: string,
  instructions: string,
  rank?: number,
  tags?: string[]
}}

const approvedDecks = [
  "malls",
  "cities",
  "mrt",
  "unesco",
  "universities",
  "schools",
  "airports",
  "subzones",
  "buildings",
  "bus-stops",
  "famous-people",
  "places-in-singapore",
  "indo-attractions"
];

const decks = Object.entries(statAttackData as DeckJson)
  .filter(([key, _]) => approvedDecks.includes(key) )
  .map(([key, value]) => {
  return {
    key,
    href: `/games/location-guessr/${key}`,
    title: value.title,
    instructions: value.instructions,
    rank: value.rank || 0,
    imgPath: `/img/games/stat-attack/${key}.jpg`,
    tags: value.tags || []
  }
});

const heroText = gamesData["location-guessr"].heroText;
---
<Seo {heroText} {seoImg} pageName={"Location Guessr"} path="games/location-guessr"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="LOCATION GUESSR" text={heroText} site="games"/>
    <section class="my-auto grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {decks.map(deck => <MediumCard
        href={deck.href}
        title={deck.title}
        site="games"
        heroText={""}
        key={deck.key}
        imgPath={deck.imgPath}
        isEager={true}
        tags={deck.tags}/>)}
    </section>
    <Footer site="games"/>
  </div>
</Layout>