---
import type { GetStaticPaths } from "astro";
import BinaryQuiz from "../../../components/quizzes/binary/BinaryQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import trashData from "../../../data/quizzes/binary/trash.json";
import binaryData from "../../../data/quizzes/binary.json";
import Seo from "../../../components/seo/Seo.astro";
import PageFind from "../../../components/common/PageFind.astro";

export const getStaticPaths = (() => {
  return [
    { 
      params: {
        quiz: "trash" 
      },
      props: {
        title: "Reuse or Trash?",
        data: trashData,
        instructions: binaryData.trash.instructions,
        fields: [
          "description",
          "duration",
          "storage",
          "usage"
        ],
        options: ["Reuse", "Trash"]
      }
    },
  ];
}) satisfies GetStaticPaths;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/img/**/*.jpg');
const seoImg = await images[`/src/img/quizzes/binary/${Astro.params.quiz}.jpg`]().then(img => img.default);
---
<Seo heroText={Astro.props.instructions} {seoImg} pageName={`${Astro.props.title} (Binary Quiz)`} path={`quizzes/binary/${Astro.params.quiz}`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName={`${Astro.props.title} (Binary Quiz)`} heroText={Astro.props.instructions}/>
    <BinaryQuiz client:load title={Astro.props.title} data={Astro.props.data} instructions={Astro.props.instructions} fields={Astro.props.fields} options={Astro.props.options} key={Astro.params.quiz}/>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
    <script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </div>
</Layout>