---
import Layout from '../../layouts/Layout.astro';
import artData from '../../data/portfolio/art.json';
import { toName } from '../../utils/string';
import ArtPreview from '../../components/portfolio/ArtPreview.astro';
import Hero from '../../components/common/Hero.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import portfolioData from '../../data/portfolio/portfolio.json';
import Seo from '../../components/seo/Seo.astro';
import seoImg from "../../img/heroes/ART.jpg";

export interface ArtData {
  link: string,
  rank?: number
}

type ArtJson = {[key: string]: ArtData};

const artworks = Object.entries(artData as ArtJson).map(([key, value]) => {
  return {
    key,
    imgPath: `/img/portfolio/art/${key}.png`,
    name: toName(key),
    link: value.link,
    rank: value.rank ?? 0
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = portfolioData.art.heroText;
---
<Seo {heroText} {seoImg} pageName={"Artwork"} path="portfolio/art"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="ART" text={heroText} site="portfolio"/>
    <section class="grid grid-cols-2 md:grid-cols-3 gap-2 relative p-2 max-w-6xl mx-auto mt-4 my-auto" transition:animate="slide">
      {artworks.slice(0,15).map(artwork => <ArtPreview artwork={artwork} isEager={true}/>)}
      {artworks.slice(15).map(artwork => <ArtPreview artwork={artwork}/>)}
    </section>
    <Footer site="portfolio"/>
  </div>
</Layout>