---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Footer from '../../components/common/Footer.astro';
import portfolioData from '../../data/portfolio/portfolio.json';
import Hero from '../../components/common/Hero.astro';
import homeJson from '../../data/home.json';
import MediumCard from '../../components/common/MediumCard.astro';
import { capitalise } from '../../utils/string';
import { AstroSeo } from '@astrolib/seo';

const heroText = homeJson.portfolio.heroText;
---
<AstroSeo
  title="Portfolio | Izz Hafeez"
  description={heroText}
  canonical="https://izzhafeez.com/portfolio"
  openGraph={{
    title: "Portfolio | Izz Hafeez",
    description: heroText,
    url: "https://izzhafeez.com/portfolio",
    type: "website",
    images: [
      {
        url: "/img/heroes/PORTFOLIO.jpg",
        width: 600,
        height: 600,
        alt: "Portfolio | Izz Hafeez"
      }
    ]
  }}
/>
<Layout>
  <div slot="main" class="">
    <NavBar/>
    <Hero label="PORTFOLIO" text={heroText} site="portfolio"/>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative px-2 mt-2 max-w-6xl mx-auto">
      {Object.entries(portfolioData).map(([key, value]) => <MediumCard href={`/portfolio/${key}`} title={capitalise(key)} heroText={value.heroText} site="portfolio" imgPath={`/img/heroes/${key.toUpperCase()}.jpg`} isEager={true}/>)}
    </section>
    <Footer color="ew" isEager={false}/>
  </div>
</Layout>
