---
import MusicPreview from '../../components/portfolio/MusicPreview.astro';
import musicData from '../../data/portfolio/music.json';
import { toName } from '../../utils/string';
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Hero from '../../components/common/Hero.astro';
import Footer from '../../components/common/Footer.astro';
import portfolioData from '../../data/portfolio/portfolio.json';
import { SEO } from 'astro-seo';
import seoImg from '../../img/heroes/MUSIC.jpg';

interface MusicData {
  title?: string,
  artist?: string,
  link?: string
}

type MusicJson = {[k: string]: MusicData};

const music = Object.entries(musicData as MusicJson).map(([key, value]) => {
  return {
    key,
    title: value.title || toName(key),
    artist: value.artist,
    link: value.link
  }
})

const heroText = portfolioData.music.heroText;
---
<SEO
  title={`Music | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/portfolio/music`}
  openGraph={{
    basic: {
      title: `Music | Izz Hafeez`,
      type: "blog",
      image: seoImg.src,
      url: `https://izzhafeez.com/portfolio/music`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `Music | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="MUSIC" text={heroText} site="portfolio"/>
    <section class="my-auto grid grid-cols-1 gap-2 relative p-2 max-w-6xl mx-auto" transition:animate="slide">
      {music.slice(0,10).map(m => <MusicPreview music={m} isEager={true}/>)}
      {music.slice(10).map(m => <MusicPreview music={m}/>)}
    </section>
    <Footer site="portfolio"/>
  </div>
</Layout>